<div class="text-center">
  <%= button_to "Buzz!", buzz_quiz_question_path(quiz), method: :post, class: "rounded-full border-5 border-white w-80 h-80 sm:w-96 sm:h-96 text-8xl font-bold bg-radial from-rose-500 to-rose-800 cursor-pointer shadow-xl" %>
</div>
