<%= turbo_stream_from @quiz %>
<%= turbo_stream_from @player %>
<div id="quiz">
  <% if @player&.buzzed_at.present? %>
    <h1>You have buzzed in</h1>
    <p>Please wait to see if you were fastest</p>
  <% else %>
    <%= render "buzz", quiz: @quiz %>
  <% end %>
</div>
