<%= form_for :quiz, url: quizzes_path do |form| %>
  <div>
    <%= form.label :name, "Enter your name to join the quiz:" %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.submit "Create Quiz" %>
  </div>
<% end %>
