<% if @quiz.joinable? %>
  <%= form_with url: join_quiz_path(@quiz), method: :post, data: { turbo: false } do |form| %>
    <div>
      <%= form.label :name, "Enter your name to join the quiz '#{@quiz.name}':" %>
      <%= form.text_field :name %>
    </div>
    <div>
      <%= form.submit "Join Quiz" %>
    </div>
  <% end %>
<% else %>
  <h1>The quiz has already started. Please wait for the next one!</h1
<% end %>