<div class="flex xjustify-center gap-4 mb-6">
  <% players.each do |player| %>
    <p class="inline-block px-4 py-2 rounded-full border-1 border-slate-50 bg-slate-100/20 text-slate-50 font-bold text-lg text-center"><%= player.name %></p>
  <% end %>
</div>